In [31]:
SELECT * FROM dbo.SampleTable; --Comment

ID,Name,Age
3,Alice,20
2,Jane Doe,25
4,Beth,30
1,John Doe,30