In [2]:
SELECT * FROM dbo.SampleTest

: Msg 208, Level 16, State 1, Line 1
Invalid object name 'dbo.SampleTest'.